@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='search'],
input[type='tel'],
input[type='checkbox'],
input[type='radio'],
select,
select[multiple],
textarea
{
    @apply text-sm rounded-md border-gray-200 placeholder-gray-500 placeholder-opacity-50;
}

input[type='text']:disabled,
input[type='password']:disabled,
input[type='email']:disabled,
input[type='number']:disabled,
input[type='url']:disabled,
input[type='date']:disabled,
input[type='datetime-local']:disabled,
input[type='month']:disabled,
input[type='week']:disabled,
input[type='time']:disabled,
input[type='search']:disabled,
input[type='tel']:disabled,
input[type='checkbox']:disabled,
/* input[type='radio']:disabled, */
select:disabled,
select[multiple]:disabled,
textarea:disabled
{
    background-color: #f7f7f7;
}


input:required
{
    @apply border-gray-200;
}

input:focus,
select:focus,
textarea:focus
{
    @apply focus:ring-2 focus:ring-gray-400 focus:border-transparent;
}

input[type="radio"],
input[type="checkbox"]{
    @apply focus:ring-0;
}

/* input small su tutti */
input,
select
{
    height: 2.2rem;
}

select {
    @apply leading-none;
}

/* input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    @apply text-xs;
} */

/* .filepond--credits{
    display: none !important;
} */