@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='search'],
input[type='tel'],
input[type='checkbox'],
input[type='radio'],
select,
select[multiple],
textarea
{
    @apply rounded-md border-gray-200 placeholder-gray-500 placeholder-opacity-50;
}

input:focus,
select:focus,
textarea:focus
{
    @apply focus:ring-2 focus:ring-gray-400 focus:border-transparent;
}

input[type="radio"],
input[type="checkbox"]{
    @apply focus:ring-0;
}

.input-small{
    @apply h-8 text-sm;
}
input.input-small::-webkit-input-placeholder {
    @apply text-sm;
}